* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-soft: #D1D1D1;
    --color-dark: #353535;
    --color-success: #35B573;
    --color-succes-soft: #3ED185;
    --color-focus: #51A5CC;
    --color-danger: #EF3232;
    --color-danger-soft: #FF7373;
}

/* MENU BAR STYLIZING */
.menu-bar {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: var(--color-dark);
}

.menu-bar a {
    padding: 10px;
    text-decoration: none;
    color: var(--color-soft);
    font-weight: 900;
}




/* MENU DROPDOWN */
.menu-dropdown {
    position: absolute;
    display: none;
    left: -500px;
}

/* WHEN BUTTON WAS PUSHED */
.visible{
    position: fixed;
    background: var(--color-dark);
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    left: 0;
}

.dropdown-element {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.dropdown-element a{
    text-decoration: none;
    color: var(--color-soft);
}

.dropdown-element:hover{
    background-color: var(--color-soft);
}

.dropdown-element:hover > a{
    color: var(--color-dark);
}



/* BASIC WIDGETS 
- TITLES AND SUBTITLES
- PARAGRAPHS
- IMAGES
- LIST
- TARGETS
*/

.title {
    width: 50%;
    margin: 25px auto;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}

.subtitle {
    width: 50%;
    margin: 25px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.paragraph {
    width: 70%;
    margin: 15px auto;
    text-align: center;
}

.fill-content {
    width: 100%;
    text-align: center;
}

.main-image {
    width: 80%;
    margin: 25px auto;
}
.main-image img {
    width: 100%;
}

.image {
    width: 40%;
    margin: 25px auto;
}
.image img {
    width: 100%;
}

.target {
    width: 90%;
    background: var(--color-soft);
    padding: 14px;
    border: 3px solid gray;
    border-radius: 5px;
    margin: 15px auto;
    text-align: center;
}

.tg-success {
    background: var(--color-succes-soft);
}
.tg-danger {
    background: var(--color-danger-soft);
}

.float-element {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: var(--color-dark);
}

.fb-right {
    top: 0;
    right: 0;
}

.fb-left {
    top: 0;
    left: 0;
}

.float-button {
    padding: 10px;
}

.float-button a{
    color: var(--color-soft);
    text-decoration: none;
}

.button-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 35px;
    background: rgb(70, 70, 70);
    border: solid 1px gray;
    border-radius: 5px;
    align-items: center;
}

.button-selection a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

/* FORMS */
.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-soft);
    border: 2px solid gray;
    border-radius: 10px;
    margin: 25px auto;
}

.form-control {
    width: 80%;
    padding: 10px;
    border-radius: 2px;
    border: none;
    margin: 15px 0;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 15px 2px var(--color-focus);
}

.form-button {
    background: var(--color-success);
    color: white;
}


/* USER PROFILE TARGET AND WIDGETS */
.target-user {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-soft);
    border: solid 2px gray;
    border-radius: 10px;
    margin: 25px auto;
    padding: 2px;
}

.user-data {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
}